
    body{
    background-color:  #d6d4d4;
    }
  
    #sonuc{
        float:left;
        width: 260px;
        height: 260px;
        font-size: 2em;
        padding: 20px;
        background: #f1c40f;
    }

    #pc-sonuc{
        float:left;
    }

    #center{

        width: 100%;
        color: #333333;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
        padding: 10px 0;
        align-items: center;
        justify-content: space-around;
        display: flex;
        float: none;
    }